<!DOCTYPE html>
<html>
<head>
  <title>MyDeviseRun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<header>
<% if logged_in? %>
    Hello <%= current_user.first_name %>
    <img src="<%= current_user.image %>">
    <%= button_to 'Log out', destroy_user_session_path, method: 'delete' %>
  <% else %>
    Welcome, please log in or register
    <%= button_to 'Register', new_user_registration_path, method: 'get' %>
    <%= button_to 'Log in', new_user_session_path, method: 'get' %>
  <% end %>

</header>

<%= yield %>

</body>
</html>
